body,
html {
    font-family: 'Playfair Display', serif;
    height: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.intro {
    height: 100%;
    z-index: -9;
}

.intro h1 {
    color: rgb(255, 255, 255);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 100px;
    margin: auto;
}

.intro h2 {
    color: rgb(255, 255, 255);
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 50px;
    margin: auto;
}

.introContainer {
    position: relative;
}

.first {
    color: white;
    background-color: black;
    padding-bottom: 5%;
}

.first p {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
}

.row {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2%;
}

.column {
    flex: 1;
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.column img {
    width: 100%;
    height: auto;
}

.column p {
    height: 90%;
}

footer {
    font-size: 10px;
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
}

.showImage {
    height: 100%;
}

.fade {
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    /* Firefox */
    -webkit-animation: fadein 5s;
    /* Safari and Chrome */
    -o-animation: fadein 5s;
    /* Opera */
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    0% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    0% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes fadein {
    /* Opera */
    0% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}